.cartPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartPage h2 {
    color: white;
}
.cartPage form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 1rem;
    width: 30%;
    height: auto;
    padding: 1rem;
}

.cartPage input {
    margin: 1rem;
}

.cartPage hr {
    background-color: blueviolet;
    border: 1px solid blueviolet;
    width: 100%;
}

.error {
    color:white;
}